.top-banner {
  width: 100%;
  height: 75rem;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 3rem 4rem;

  @media (max-width: 991px) {
    height: 58rem;
  }

  @media (max-width: 768px) {
    height: 45rem;
    padding: 1.5rem 2rem;
  }
}

.main-container {
  max-width: var(--content-width);
  display: flex;
  margin: 5rem auto;

  @media (max-width: 991px) {
    flex-direction: column;
  }

  .flex-1 {
    flex: 1;
    padding: 3rem 5rem;

    @media (max-width: 768px) {
      padding: 1.5rem 2rem;
    }
  }
}
