.top-banner {
  width: 100%;
  background-image: url(../../assets/images/banner1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 75rem;
  display: flex;
  flex-direction: column;

  @media (max-width: 991px) {
    height: 58rem;
  }

  @media (max-width: 768px) {
    height: auto;
  }
}

.main-container {
  max-width: var(--content-width);
  display: flex;
  margin: 5rem auto;

  @media (max-width: 991px) {
    flex-direction: column;
  }

  .flex-1 {
    flex: 1;
  }
}
