header {
  padding: 3rem 4rem;
  display: flex;
  justify-content: space-between;

  &__logo {
    max-width: 28rem;
  }
}

.header-nav {
  font-size: 2rem;
  display: flex;
  align-content: center;

  li {
    padding: 0 1rem;

    a {
      color: #fff;
      text-transform: capitalize;
      padding: 0;
      border-bottom: 2px solid transparent;

      &.active,
      &:hover {
        color: #fff;
        border-color: #fff;
      }
    }
  }
}
