@import "font";
@import "custom";
@import "~bootstrap/scss/bootstrap";

:root {
  --content-width: 1440px;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  min-width: 500px;
}

.font-slab {
  font-family: "Roboto Slab", Arial, sans-serif;
}
